body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.header {
    padding: 20px 200px 100px;
}

.container {
    padding: 100px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 800;
}
.links {
    font-size: 18px;
    color: #E5E7Eb;
}

.card {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
}

.card-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-container {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 40px;
}

.container.white {
    background-color: white;
    display: flex;
    flex-direction: column;

}

.container.grey {
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta {
    background-color: #3882f6;
    padding: 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cta button {
    color: white;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    padding: 10px 20px;
}

.quote {
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}

.author {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

.container{
    display: flex;
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.hero-image {
    display: flex;
    background-color: grey;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 100px;
    border: 0;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}
.cta h2 {
    color: white;
}

h2 {
    margin: 0;
    padding: 0;
}

.card-subtext p {
    color: black;
    text-align: center;
}

p {
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    padding: 0;
    border-radius: 5px;
}